
<div id="wrap">
  <ul id="contacts" class="papercut">
  <!--
    <% for (var i = 0, ii = contacts.length; i < ii; i += 1) { var contact = contacts[i]; %>
      <li class="contact<% if (contact.initiated) { %> ignored<% } %>">
        <h1><%- contact.name %></h1>
        <h2><%- contact.last_contacted %></h2>
      </li>
    <% } %>
  -->
  </ul>
  <div id="options">
    <% if (user.facebook) { var user_name = user.facebook.displayName; } else { var user_name = user.username; } %>
    Hey there <span class="name"><%- user_name %></span>.
    <% if (!user.facebook) { %>
      <a href="/auth/facebook">Connect to Facebook</a>
    <% } %>

    <div id="buttons">
      <button id="time_sort" onclick="sortByTime()">Sort by Date</button>
      <button id="name_sort" onclick="sortByName()">Sort by Name</button>
      <button id="show_starred" onclick="showStarredOnly()">Show starred only</button>
      <br>
      <label for="star_time">Days until alert:</label>
      <input id="star_time" value="14"></input>
      <button id="set_star_time">Set Days</button>
      <br>
      <label for="pre_message">Link to send:</label>
      <input id="pre_message"></input>

    </div>
    <a href="/logout" id="logout">Logout</a>
  </div>
</div>

<br>

<script type="text/javascript">
  $(document).ready(function() {
    var contacts = <%- JSON.stringify(contacts) %>;

    // TODO: cache these.
    var sort_by = function(field, reverse, primer){
      var key = function (x) {return primer ? primer(x[field]) : x[field]};

      return function (a,b) {
        var A = key(a), B = key(b);
        return ( (A < B) ? -1 : ((A > B) ? 1 : 0) ) * [-1,1][+!!reverse];                  
      }
    };

    function findKeywords() {
      var re = /[A-Za-z](6)/g;
      for (var i = 0, ii = contacts.length; i < ii; i += 1) {
        var keywords = [];
        var message = contacts[i].last_message.split(' ');
        for (var j = 0, jj = message.length; j < jj; j += 1) {
          var word = message[j];
          if (word.length > 6) {
            keywords.push(word);
          }
        }
        contacts[i].keywords = keywords.length > 0 ? '<span class="keyword">' + keywords.join('</span>, <span class="keyword">') + '</span>' : '';
      }
    };

    function fillContacts(s) {
      var starCount = 0;
      if (contacts.length === 0) {
        $('#contacts').html('<li><h1>Connect with a social service to see your contacts!</h1></li>');
        return;
      }
      $('#contacts').empty();
      for (var i = 0, ii = contacts.length; i < ii; i += 1) {
        var contact = contacts[i];
        if (s && !contact.starred) { continue; }
        starCount += 1;

        var el = $('<li></li>');
        el.addClass('contact');
        if (contact.initiated) {
          el.addClass('ignored');
        }

        var starClass = contact.starred ? 'unstar' : 'star';
        var star = $('<div></div>').addClass(starClass).attr('data-id', contact._id);
        el.append(star);

        el.append('<h1>' + contact.name + '</h1>');
        el.append('<h2>Last contacted <span class="time">' + $.timeago(contact.last_contacted) + '</span> via <span class="' + contact.method + '">' + contact.method + '</span></h2>');

        var message = $('<div></div>').addClass('message');
        var person = contact.initiated ? 'You' : contact.name;
        if (contact.keywords) {
          message.html(person + ' last talked about ' + contact.keywords);
        } else {
          message.html(person + ' last sent "' + contact.last_message + '"');
        }
        el.append(message);
        $('#contacts').append(el);

        if (contact.facebook_id) {
          var fbdiv = $('<div></div>').attr('data-fb', contact.facebook_id);
          fbdiv.addClass('send_facebook_message');
          fbdiv.html('Send Facebook message');
          el.append(fbdiv);
        }
      }
      if (s && starCount === 0) {
        $('#contacts').html('<li><h1>You have not starred any contacts! Star contacts to get notifications when you haven\'t talked to them for a long time.</h1></li>');
      }

    };

    $('#contacts').on('click', '.send_facebook_message', function(ev) {
      var user_id = $(ev.currentTarget).attr('data-fb');
      var url = 'http://www.facebook.com/dialog/send?to=' + user_id;
      url += '&redirect_uri=' + 'http://localhost:9000/dashboard';
      url += '&link=';
      url += $('#pre_message').val() || 'http://news.ycombinator.com/new';
      url += '&app_id=<%- app_id %>';
      window.location = url;
    });
    $('#contacts').on('click', '.star', function(ev) {
      var _id = $(ev.currentTarget).attr('data-id');
      $(ev.currentTarget).removeClass('star');
      $(ev.currentTarget).addClass('unstar');
      for (var i = 0, ii = contacts.length; i < ii; i += 1) {
        if (contacts[i]._id === _id) {
          contacts[i].starred = true;
        }
      }
      $.post('/star',
        { contact: _id },
        function(data) {
          console.log(data);
        }
      );
    });
    $('#contacts').on('click', '.unstar', function(ev) {
    console.log('star');
      var _id = $(ev.currentTarget).attr('data-id');
      $(ev.currentTarget).removeClass('unstar');
      $(ev.currentTarget).addClass('star');
      for (var i = 0, ii = contacts.length; i < ii; i += 1) {
        if (contacts[i]._id === _id) {
          contacts[i].starred = false;
        }
      }
      $.post('/unstar',
        { contact: _id },
        function(data) {
          console.log(data);
        }
      );
    });

    var reverseName = false;
    var reverseTime = false;
    var showStarred = false;

    sortByName = function() {
      reverseName = !reverseName;
      contacts = contacts.sort(sort_by('name', reverseName));
      fillContacts(showStarred);
    };
    sortByTime = function() {
      reverseTime = !reverseTime;
      contacts = contacts.sort(sort_by('last_contacted', reverseTime));
      fillContacts(showStarred);
    };
    showStarredOnly = function() {
      showStarred = !showStarred;
      fillContacts(showStarred);
    };

    findKeywords();
    sortByTime();

    stroll.bind($('#contacts'), { live: true });
  });
</script>
